# Variáveis de Ambiente
.env

# Pastas de Ambiente Virtual Python
.venv/
venv/
env/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Uploads de usuários (avatar, ícone de servidor)
app/static/uploads/